# Dependencias de Node.js
node_modules/

# Archivos generados por el sistema operativo
.DS_Store
Thumbs.db

# Archivos de construcción y compilación
/build
/out

# Archivos de configuración locales
.env